.about-image{
    background-image: url("../images/PIA19952_orig.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    height:20vw;
    width:35vw;
    position: absolute;
    top:0;
    right:0;
}

@media screen and (orientation:portrait) {
    div.about{
        margin-top: 50vw;
    }

    .about-image{
        width:90vw;
        margin: 0 5vw 0 5vw;
        height:50vw;
        background-size: 50%;
        position: absolute;
        background-position: center center;
    }
}