div.intro{
    margin: 5% 20% 0 20%;
    text-align: center;
}

div.title{
    width:34%;
    margin:0 33% 0 33%;
}

div.intro h1{
    margin:0 0 0 0;
    color:#00ECA2;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

h1.part1{
    font-size:2vw;
}

div.intro h5{
    margin-top: 2%;
    color:white;
    font-family: 'Rubik';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
}

div.intro h2{
    font-size:9vh;
    font-family: 'Roboto Mono', monospace;
    color:#00ECA2;
}

div.intro h2 span{
    color:white;
}

div.msga{
    margin-top: 10%;
}

@media screen and (orientation:portrait) {
    div.intro h2{
        font-size:6vh;
    }

    div.title{
        width:100%;
        margin:0 auto;
    }

    div.title h1:first-child{
        font-size:10.3vw !important;
    }

    div.title h1:last-of-type{
        font-size:8.8vw !important;
    }

    div.title h5{
        font-size:3.75vw !important;
    }
}